<h3> 
  Sloth Demo
</h3>

<div class="classic">

  <h3>
    Classic Loader &nbsp; <button {{action "toggle" "classic"}}>{{if canShowClassic "Hide" "Show"}}</button>

  </h3>

  {{#if canShowClassic}}

    Data Loaded: <span class="count"> {{model.length}}  </span>

    <div class="post-container">
      {{#each model as |post|}}
        <div>
          {{post.id}}: {{post.title}}
        </div>
      {{/each}}
    </div>
  {{/if}}

</div>

<div class="sloth">
  <h3>
    Sloth Loader &nbsp;   <button {{action "toggle" "sloth"}}>{{if canShowSloth "Hide" "Show"}}</button>
  </h3>

  {{#if canShowSloth}}

    {{#sloth-loader 
      data=model 
      initialDataCount=50 
      loadCount=40
      as |sloth|
    }}
      
      Data Loaded: <span class="count"> {{sloth.dataForCurrentView.length}} </span> 
      
      <div id="slothScroll" class="post-container">
        {{#each sloth.dataForCurrentView as |post|}}
          <div>
            {{post.id}}: {{post.title}}
          </div>
        {{/each}}
      </div>
    {{/sloth-loader}}

  {{/if}}
</div>

<div class="sloth">
  <h3>
    Sloth Loader (background fetch) &nbsp;
    <button {{action "toggle" "autosloth"}}>{{if canShowAutoSloth "Hide" "Show"}}</button>
  </h3>

  {{#if canShowAutoSloth}}

    {{#sloth-loader 
      tagName="" 
      data=model 
      initialDataCount=50 
      loadCount=20 
      loadInterval=3000
      enableBackgroundLoad=true
      as |sloth|
    }}
      
      Data Loaded: <span class="count"> {{sloth.dataForCurrentView.length}} </span> 
      
      <div class="post-container"> {{!-- container --}}
        {{#each sloth.dataForCurrentView as |post|}}
          <div>
            {{post.id}}: {{post.title}}
          </div>
        {{/each}}
      </div>
    {{/sloth-loader}}

  {{/if}}
</div>

